@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./components/tables.css";
@import "./components/timer_alerts.css";
@import "./components/buttons.css";

/* This file is for your main application CSS */
.text-10xl {
  font-size: 10rem;
  line-height: 1;
}

.text-12xl {
  font-size: 12rem;
  line-height: 1;
}

.text-16xl {
  font-size: 16rem;
  line-height: 1;
}

.text-20xl {
  font-size: 20rem;
  line-height: 1;
}

.bg_running {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.bg_warning {
	--tw-bg-opacity: 1;
	background-color: rgb(250 204 21 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(17 24 39 / var(--tw-text-opacity));
}

.bg_timeout {
	--tw-bg-opacity: 1;
	background-color: rgb(127 29 29 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
